<%- include("partials/header") -%>

<h1>Home</h1>
<p><%=homeContent %></p>
<% textArr.forEach(function(text){ %>
  <h1><%= text.titleText %></h1>
  <p><%= text.postText %></p>
<% }); %>

<%- include("partials/footer") -%>